<footer>
    <div class="footer" style="background-color:#29496F; padding: 1.5rem; text-align: center; color: white;">            
          <b> © 2025 NimbusDrive, Inc. All rights reserved.</b>
          </div>
  </footer>
</html>