<html>
      <body>

            <div style="background-color:#29496F; padding: 1.5rem; text-align: center; color: white;">
                        
                  <b> © 2025 Company, Inc. All rights reserved.</b>
                  </div>
      </body>
</html>