<%- include("partials/header.ejs") %>
<body>
      <div class="container pt-5">
            <div class="row">
                  <div class="col-sm-6">
                        <img src="about.jpg" width="500px" height="300px">
                  </div>
                  <div class="col-sm-6">
                        <h2 style=" color:black">About Us</h2>
                        <p> The pain of the right expedient is that the flight is rougher than those who are of the
                              least consequence. Some kind of pleasure is softened. Let it be because of the troubles,
                              because those who suffer the great pains of the truth. The whole corrupt like him fall
                              into rejecting the harsher pleasures of the truth</p>
                        <a  href="/signup"> <button type="button" class="btn btn-primary"> Sign Up</button></a>
                        <a href="/login"> <button type="button" class="btn btn-primary" > Login</button></a>
                  </div>
            </div>
      </div>
</body>
<%- include("partials/footer.ejs") %>
