<%- include("partials/header.ejs") %>
<body>
      <div class="container pt-5">
            <div class="row">
                  <div class="col-sm-6">
                        <img src="home-img.jpeg" width="500px" height="300px">
                  </div>
                  <div class="col-sm-6">
                        <h2 style=" color:black">About Us</h2>
                        <p><b>Welcome to NimbusDrive</b>, your secure and efficient cloud-based file-sharing solution.

                              At NimbusDrive, we believe in providing a fast, secure, and user-friendly platform
                              for individuals and businesses to store, share, and manage their files effortlessly.<br>

                              <b>Our Mission</b><br>
                              Our mission is to redefine file storage and sharing by offering a safe, reliable,
                              and encrypted cloud solution. We are committed to enhancing productivity through
                              seamless file management while ensuring top-notch security for your data"</p>
                              <h4>Contact Us On</h4><p>neelam122001@gmail.com<br>
                                    pradnyarandhe7@gmail.com</p>
                        <a  href="/signup"> <button type="button" class="btn btn-primary"> Sign Up</button></a>
                        <a href="/login"> <button type="button" class="btn btn-primary" > Login</button></a>
                  </div>
            </div>
      </div>
</body>
<%- include("partials/footer.ejs") %>
