/* Reset default margins and set box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure body takes full viewport height */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Center the login container */
.login {
    border-radius: 8px;
    width: 35rem;
    height: 14rem;
    background-color: #d5d8dc;
    padding: 1.2rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    justify-content: center; /* Center content inside */
    align-items: center; /* Align text inputs */
}

/* Adjust input fields */
.login .mb-3 {
    width: 100%;
}

.login-btn {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
}

/* Fix the footer at the bottom */
footer {
    background-color: #29496F;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

nav{
    padding: 0;
}


/* Navbar styling */
.navbar {
    background-color: #29496F;
    /* border: 1px solid #000000; */
    height: 5rem;
}


.navbar-nav .nav-link {
    color: white !important;
    transition: color 0.3s ease-in-out;
}

/* Change color on hover */
.navbar-nav .nav-link:hover {
    color: #FFD700 !important;
}

.navbar li{
    padding: 0.5rem;
}

